
/* Navbars */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: .5rem .8rem;
  background-color: #f8f9fa;
}
.nav-item { display: inline-block; margin-left: 5px; padding: .5rem .8rem; white-space: nowrap; color: rgba(0, 0, 0, .9); }
.nav-main { font-size: 1.3rem; text-decoration: none; }
.nav-main:hover { text-decoration: none; color: rgba(0, 0, 0, .9); }

/* Menu commons styles */
ul.menu { display: none; }
/* This hides all dropdowns */
ul.menu ul { display: none; background: #f8f9fa; }
/* First li level: starts hide and after fadeIn by JS */
ul.menu li { list-style: none; color: rgba(0, 0, 0, .9); }
ul.menu li:hover { background: #2c3e50; color: #fff; text-decoration: none; }
ul.menu li:hover > a > .nav-tri { transform: rotate(90deg); }
/* All nav-links elements:; inherit from li (a same state as it's li) */
ul.menu a { display: block; padding: .5rem .8rem; color: inherit; white-space: nowrap; text-decoration: none; }
ul.menu a:hover { color: inherit; text-decoration: none; }
ul.menu .nav-icon { display: inline-block; margin-right: 6px; }
ul.menu .nav-tri { display: inline-block; margin-left: 10px; }

/* Menu-Top dropdown */
ul.menu-top { margin-left: 5px; margin-right: auto; z-index: 3; }
ul.menu-top ul { position: absolute; left: 0; }
/* First li level: starts hide and after fadeIn by JS */
ul.menu-top > li { float: left; z-index: 3; }
/* Next deep level in tree */
ul.menu-top ul li { width: 100%; } /* Sublines expand over all ul parent space */
ul.menu-top li { position: relative; }
/* Display the next dropdown */
ul.menu-top li:hover > ul { display: block; border-left: 2px solid #2c3e50; }
/* Displays second level dropdowns to the right of the first level dropdown */
ul.menu-top ul ul { top: 1%; left: 99%; }
/* Menu-Top dropdown */

/* Sidebar left */
#sidebar {
  position: fixed;
  z-index: 1;
  top: 50px;
  left: -242px; /* width + padding-left + padding-right*/
  width: 240px;
  height: 100%;
  padding: 1px;
  min-height: 100vh;
  background-color: #f8f9fa;
  transition: all 500ms linear;
}
#sidebar.active { left: 0px; }
.sidebar-toggle { margin-right: 4px; cursor: pointer; }
/* Sidebar left */

/* Menu-Left dropdown */
ul.menu-left li { max-width: 240px; }
ul.menu-left .nav-tri { float: right; }
/* Display the next dropdown */
ul.menu-left li.active > ul {
  display: block;
  border: 1px solid rgba(100, 100, 100, .3);
  border-bottom: 2px solid #2c3e50;
}
/* Menu-Left dropdown */

/* Breadcrumb pagination */
ul.breadcrumb { padding: 10px 16px; list-style: none; background-color: #eee; }
ul.breadcrumb li { display: inline; font-size: 12px; }
ul.breadcrumb li+li:before { padding: 8px; color: black; content: "/\00a0"; }
ul.breadcrumb li a { color: #0275d8; text-decoration: none; }
ul.breadcrumb li a:hover { color: #01447e; text-decoration: underline; }
/* Breadcrumb pagination */

/* Tags */
.tags {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  list-style: none;
}
.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #e9ecef;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.tag::after {
  top: 0;
  right: 0;
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  background: #e9ecef;
  content: '';
}
.tag:hover { background-color: crimson; color: white; }
.tag:hover::after { border-left-color: crimson; }
/* Tags */
