
/* Menu dropdown */
ul.menu-phone { display: none; }
ul.menu { position: sticky; display: inline-block; width: 100%; padding: 5px; z-index: 3; background-color: #f8f9fa; }
/* This hides all dropdowns */
ul.menu ul { position: absolute; left: 0; display: none; background-color: #f8f9fa; }
/* First li level: starts hide and after fadeIn by JS */
ul.menu li { position: relative; float: left; list-style: none; z-index: 3; }
ul.menu li:hover { color: #fff; background-color: #2c3e50; border-radius: 2px; }
ul.menu li:hover > a { color: #fff; }
ul.menu li:hover > a > .nav-tri { transform: rotate(90deg); }
/* Next deep level in tree */
ul.menu ul li { width: 100%; } /* Sublines expand over all ul parent space */
/* Display the next dropdown */
ul.menu li:hover > ul { display: block; border-left: 2px solid #2c3e50; z-index: 3; }
/* Displays second level dropdowns to the right of the first level dropdown */
ul.menu ul ul { top: 1%; left: 99%; }
/* All nav-links elements: inherit from li (a same state as it's li) */
ul.menu a { display: block; padding: .5rem .8rem; white-space: nowrap; text-decoration: none; color: #000; }
ul.menu .nav-tri { display: inline-block; margin-left: 9px; }
.nav-icon { display: inline-block; margin-right: 8px; }
/* Menu dropdown */

/* Breadcrumb pagination */
ul.breadcrumb { padding: 10px 16px; list-style: none; background-color: #eee; }
ul.breadcrumb li { display: inline; font-size: 12px; }
ul.breadcrumb li+li:before { padding: 8px; color: black; content: "/\00a0"; }
ul.breadcrumb li a { color: #0275d8; text-decoration: none; }
ul.breadcrumb li a:hover { color: #01447e; text-decoration: underline; }
/* Breadcrumb pagination */

/* Tags */
ul.tags { color: #999; list-style: none; }
ul.tags li {
	float: left;
	margin-left: 6px;
	padding: 2px 8px 2px 18px;
	cursor: pointer;
	background: #eee;
	clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 12% 100%, 0 50%);
}
ul.tags li:hover { background-color: crimson; color: white; }
/* Tags */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	ul.menu-phone { display: inline-block; width: 100%; padding: 5px; background-color: #f8f9fa; }
	ul.menu-phone a { display: block; padding: .5rem .8rem; white-space: nowrap; text-decoration: none; color: #000; }

	ul.menu { /* Left sidebar menu */
		position: fixed;
		top: 0;
		left: -238px; /* width + padding-left + padding-right*/
		width: 240px;
		height: 100%;
		margin: 0;
		padding: 1px;
		z-index: 3;
		min-height: 100vh;
		background-color: #f8f9fa;
		transition: all 500ms linear;
	}
	ul.menu:hover { left: 0; }
	ul.menu.active { left: 0; }
	ul.menu ul { position: relative; display: none; margin-bottom: 1rem; background-color: #f8f9fa; border: 2px solid #2c3e50; }
	/* This hides all dropdowns */
	ul.menu li { display: block; float: none; width: 100%; }
	ul.menu li:hover { color: #fff; background-color: #2c3e50; }
	ul.menu li:hover > a { color: #fff; }
	ul.menu li:hover > a > .nav-tri { transform: rotate(90deg); }
	ul.menu li.active { color: #fff; background-color: #2c3e50; }
	ul.menu li.active > a { color: #fff; }
	ul.menu li.active > a > .nav-tri { transform: rotate(90deg); }
	/* Next deep level in tree */
	ul.menu ul li { width: 100%; } /* Sublines expand over all ul parent space */
	/* Display the next dropdown */
	ul.menu li:hover > ul { display: block; }
	ul.menu li.active > ul { display: block; }
	/* Displays second level dropdowns to the right of the first level dropdown */
	ul.menu ul ul { top: 0; left: 0; }
	ul.menu .nav-tri { float: right; font-size: larger; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
