
* { margin: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; background-color: #ccc; }

/* Cards clases */
.card { border-left: 6px solid #1976D2; }
.card h1 { margin: 1em; color: #1976D2; border-bottom: 1px solid #1976D2; }

/* Specific styles */
.hide, .d-none { display: none !important; } /* force display none */
.disabled { opacity: 0.5; pointer-events: none; text-decoration: none; }
.simple { background-color: transparent; border-color: transparent; text-decoration: none; color: inherit; }
.simple:hover { text-decoration: none; color: inherit; }

.loading { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background-color: rgba(255, 255, 255, .8); }
.loading-content { position: absolute; top: 50%; left: 50%; text-align: center; z-index: 100; }

.back-to-top { position: fixed; bottom: 25px; right: 25px; padding: .5rem 1rem; font-size: 1.25rem; border-radius: .3rem; background-color: #f8f9fa; }
.back-to-top:hover { background-color: #e2e6ea; border-color: #dae0e5; }

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.d-pc, .hide-phone, .hide-tablet, .alert-icon { display: none; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.d-pc, .hide-phone, .hide-tablet { display: none; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.d-pc, .hide-tablet, .d-phone { display: none; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	.hide-pc, .d-phone { display: none; }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.hide-pc, .d-phone { display: none; }
}
